<div class="contact-image">
  <div class="caption">
    <span class="border">CONTACT</span>
  </div>
</div>

<div class="container">
  <div class="row">
  <p>CONTACT FORM GOES HERE
  </p>
  </div>
</div>


