<div class="contact-image">
  <div class="caption">
    <span class="border">CONTACT</span>
  </div>
</div>

<div class="container">
  <div class="row">
    <br>
    <p>James can by contacted by email or phone. He can also be found on social media using the links in the footer.
    <br><br><br>
    <a href="mailto: jsgiannoni@yahoo.com" class="email-button">jsgiannoni@yahoo.com</a>
    <a href="" class="email-button">214-240-8062</a>
    <br><br></p>
  </div>
</div>


