<div class="parallax-home">
  <div class="caption-home">
    <span class="border">JAMES GIANNONI</span>
  </div>
</div>

<div class="container">
  <div class="row">
  this is where all the content would go
  </div>
</div>
