<div class="home-image">
  <div class="caption">
    <span class="border">ABOUT</span>
  </div>
</div>

<div class="container">
  <div class="row">
  <p>Through years of musical experience in the Dallas music scene and intense study at Berklee College of Music, James Giannoni has formed a sound that is both unique and versatile on the bass. From fusion and jazz, to funk or pop, James has been thrown into a multitude of musical situations, always managing to find a way to thrive within the context.
  <br><br>
  His musical inspiration comes from a deep passion for improvised music, groove, and melody. “Every nuance in a song is a piece of melody, no matter how simple the part. We sometimes overlook that stuff, the small details that could make or break the music for someone else.”
  <br><br>
  Recently experimenting as composer/leader in a jazz trio setting, James has also acted as sideman in the studio to artists such as Darren Barrett, Omar Offendum, Maher Beauroy, Jorge Romano, Maxime Cholley and many more.
  <br><br>
  He currently uses Aguilar amps and cabinets, his custom jazz bass, and MXR/Boss/Aguilar pedals.
  </p>
  </div>
</div>


