<!DOCTYPE html>
<html>
  <head>
    <title>James Giannoni</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <%= favicon_link_tag 'favicon.ico' %>

    <style>
      .landing-body {
        height: 100%;
        margin: 0 0 70px 0;
      }

      .landing-footer {
        position: absolute;
        width: 100%;
        height: 70px;
        text-align: center;
        background-color: lightgreen;
      }

      @media only screen and (max-width: 576px) {
        .landing-body {
          background-color: lightblue;
          height: 100%;
          margin: 0 0 50px 0;
        }

        .landing-footer {
          position: absolute;
          width: 100%;
          height: 50px;
          text-align: center;
          background-color: pink;
        }
      }


    </style>
  </head>

  <body class="landing-body">
    <div class="landing-image">
      <div class="landing-caption flip-in-hor-bottom">
        <a href="/home">
          <span class="name">JAMES GIANNONI</span>
          <br>
          <span class="title">Bassist & Musician</span>
        </a>
      </div>
    </div>

    <footer class="landing-footer">
      <p>social media icons here</p>
    </footer>
  </body>
</html>


