<div class="lessons-image">
  <div class="caption">
    <span class="border">LESSONS</span>
  </div>
</div>

<div class="container">
  <div class="row">
  <p>LESSONS GOES HERE
  </p>
  </div>
</div>


