<div class="lessons-image">
  <div class="caption">
    <span class="border">LESSONS</span>
  </div>
</div>

<div class="container">
  <div class="row">
    <br>
    <p>In addition to performing, James also teaches private lessons. Not only will you walk away with more knowledge of the instrument and how to play it, but you’ll also have a better grasp of music theory and harmonic concepts, as James has experience tutoring peers on all of the Berklee Core Music subjects.
    <br><br>
    Skype or in-person meet-ups can be scheduled for:
      <ul>
        <li>$25 for 30 minutes</li>
        <li>$45 for 60 minutes</li>
      </ul>
    <br>
    For more information, email him by clicking the button below.
    <br><br><br>
    <a href="mailto: jsgiannoni@yahoo.com" class="email-button">jsgiannoni@yahoo.com</a>
    <br><br></p>
  </div>
</div>


