<div class="resume-image">
  <div class="caption">
    <span class="border">RESUME</span>
  </div>
</div>

<div class="container">
  <div class="row" id="resume">
    <%= image_tag "resume.jpg" %>
  </div>
</div>


