/*
 *= require rails_bootstrap_forms
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

// ANIMATIONS
@-webkit-keyframes flip-in-hor-bottom{0%{-webkit-transform:rotateX(80deg);transform:rotateX(80deg);opacity:0}100%{-webkit-transform:rotateX(0);transform:rotateX(0);opacity:1}}@keyframes flip-in-hor-bottom{0%{-webkit-transform:rotateX(80deg);transform:rotateX(80deg);opacity:0}100%{-webkit-transform:rotateX(0);transform:rotateX(0);opacity:1}}

// GENERAL STYLING
* {
  font-family: 'Roboto', sans-serif;
}

html {
  position: relative;
  height: 100%;
}

body {
  margin: 0;
}

a:hover {
  text-decoration: none;
}


//IMAGES
.landing-image {
  background-image: url("james_landing.jpg");
  min-height: 100%;
  position: relative;
  opacity: 0.75;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.flip-in-hor-bottom {
  -webkit-animation: flip-in-hor-bottom 1.0s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  -moz-animation: flip-in-hor-bottom 1.0s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: flip-in-hor-bottom 1.0s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


//NAVBAR STYLING
#logo {
  display: block;
  margin: 8px auto;
  width: 80px;
}

.navbar-toggle { //hamburger menu
  border: 1px solid white;
}

.icon-bar { //hamburger menu
  border: 1px solid white;
}

.navbar { //navbar with links
  border-radius: 0;
  background-color: #666666;
  margin-bottom: 0px;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar .navbar-nav > li {
  padding: 0px 30px;
}

.navbar-links > a {
  color: white;
}

.navbar-links > a:hover {
  color: #666666;
}


// FOOTER STYLING
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  overflow: hidden;
  background: #666666;
  height: 50px;
  display: inline-block;
}

#facebook-logo, #twitter-logo, #instagram-logo {
  margin: 12.5px 30px;
  width: 25px;
}

#youtube-logo {
  margin: 10px 30px;
  width: 30px;
}


// THESE STYLES SHOULD ONLY BE APPLIED WHEN DEVICE WIDTH IS 576PX OR LESS
@media only screen and (max-width: 576px) {
  body {
  }

  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    overflow: hidden;
    background-color: #666666;
    height: 50px;
  }

  #facebook-logo, #twitter-logo, #instagram-logo {
    margin: 12.5px 15px;
    width: 25px;
  }

  #youtube-logo {
    margin: 10px 15px;
    width: 30px;
  }

}



