/*
 *= require rails_bootstrap_forms
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";


html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 50px;
}
